<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teacher Login Page</title>
</head>
<body>
<!-- Login Form Section-->
<div class="l-form">
  <form action="" class="form">
    <div class="logo">Teacher LogIn <span>Page</span></div>

    <!-- Email field-->
    <div class="form__div">
      <label class="form__label">Email</label>
      <input type="text" class="form__input" placeholder="Enter Email">
    </div>

    <!-- Password field-->
    <div class="form__div">
      <label class="form__label">Password</label>
      <input type="password" class="form__input" placeholder="Enter Password">
    </div>

    <!-- Submit Button -->
    <input type="submit" class="form__button" value="LogIn">
  </form>
</div>
</body>
</html>
